/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #085927; /* Your chosen green color */
  --matr-navbar-bg-rgb:  8, 89, 39; /* Corrected RGB equivalent of your chosen green color */
  --matr-navbar-text-color: white; /* White color for text */
  --matr-navbar-hightlight-text: rgb(70, 198, 186);
}

/* Change bootstrap variable values. */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb); /* Corrected RGB equivalent of your chosen green color */
  background-color: rgb(70, 198, 186) !important;
  color: white !important;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-hightlight-text);
  --bs-navbar-brand-hover-color: var(--matr-navbar-hightlight-text);
  --bs-navbar-hover-color: var(--matr-navbar-hightlight-text);
}


/* Style the navbar and dropdown items */
.bg-dark, .bg-dark a, .bg-dark a.dropdown-item {
  background-color: var(--matr-navbar-bg) !important; /* Your chosen green color */
  color: var(--matr-navbar-text-color); /* White text */
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  background-color: var(--matr-navbar-bg);
  color: var(--matr-navbar-text-color);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

h1, h2 {
  color: white !important;
  font-family: Garamond !important;
  font-weight: bolder !important;
}

h2 {
  font-size: 35px !important;
}

/*Landing Page*/

#landing-page {
  background-color: rgb(70, 198, 186);
  /*cities, top right cloud, top left cloud, bottom right cloud, hot air balloon, wave behind cities*/
  background-image: url("/images/cities.png"), url("/images/top-right-cloud.png"), url("/images/top-left-cloud.png"), url("/images/bottom-right-cloud.png"), url("/images/bottom-left-cloud.png"), url("/images/hot-air-balloon.png"),
  url("/images/wave.png");
  background-size: 675px 500px, 450px 350px, 550px 250px, 525px 250px, 525px 250px, 425px 375px, 875px 875px; /*width height */
  background-position: top 260px right 85px, top -10px right -10px, top -20px left -10px, bottom -20px right -25px, bottom -20px left -10px, top 700px left 30px, top 105px right 0px;
  background-repeat: no-repeat;
}

#landing-description { /*Manoa Study Abroad Central top description*/
  text-align: center;
  margin-bottom: 100px;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left: 70px;
  color: white;
  font-size: 23px;
  font-family: Garamond;
  animation: 3s fadeIn;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#login-button {
  color: black;
  margin-top: 25px;
  --bs-btn-hover-border-color: black;
  font-size: 18px;
  margin-right: 10px;
  animation: 3s fadeIn;
}

#signup-button {
  color: black;
  margin-top: 25px;
  --bs-btn-hover-border-color: black;
  font-size: 18px;
  margin-right: -40px;
  animation: 3s fadeIn;
}

#features-icons {
  color: white;
  font-size: 50px;
  animation: 3s fadeIn;
}

#features-desc {
  color: white;
  font-family: Garamond;
  font-size: 22px;
  padding-bottom: 80px;
  animation: 3s fadeIn;
}

#mix-logo {
  height: 175px;
  width: 175px;
  margin-right: -100px;
}

#nse-logo {
  height: 175px;
  width: 175px;
}

#sac-logo {
  height: 175px;
  width: 175px;
  margin-left: -100px;
}

#logo-heading { /*Name of Program*/
  font-family: Garamond;
  fontSize: 32px;
  color: white;
  padding-top: 30px;
  animation: 3s fadeIn;
}

#program-short-desc { /*Short description underneath circle logo*/
  font-family: Garamond;
  font-size: 20px;
  color: white;
  text-align: center;
  animation: 3s fadeIn;
}

#landing-title { /*Programs and Features header*/
  color: white;
  font-size: 55px;
  font-family: Garamond;
  animation: 3s fadeIn;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 70px;
  animation: 3s fadeIn;
}

#landing-title-join { /*Join Now!*/
  color: white;
  font-size: 45px;
  font-family: Garamond;
  animation: 3s fadeIn;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 175px;
  padding-top: 50px;
}

/*User Home Page*/
#homepage {
  /*background-color: rgb(70, 198, 186);
  /*cities, top right cloud, top left cloud, bottom right cloud, hot air balloon, wave behind cities*/
  /*background-image: url("/images/top-right-cloud.png"), url("/images/top-left-cloud.png"), url("/images/bottom-right-cloud.png"), url("/images/bottom-left-cloud.png"), url("/images/wave.png");
  background-size: 450px 350px, 550px 250px, 525px 250px, 525px 250px, 950px 950px; /*width height */
  /*background-position: top -10px right -10px, top -20px left -10px, bottom -20px right -25px, bottom -20px left -10px, top 380px right 300px;
  background-repeat: no-repeat;*/

  background-color: rgb(70, 198, 186);
  /*cities, top right cloud, top left cloud, bottom right cloud, hot air balloon, wave behind cities*/
  background-image: url("/images/cities.png"), url("/images/top-right-cloud.png"), url("/images/top-left-cloud.png"), url("/images/bottom-right-cloud.png"), url("/images/bottom-left-cloud.png"), url("/images/hot-air-balloon.png"), url("/images/wave.png");
  background-size: 675px 500px, 450px 350px, 550px 250px, 525px 250px, 525px 250px, 425px 375px, 875px 875px; /*width height */
  background-position: top 260px right 85px, top -10px right -10px, top -20px left -10px, bottom -20px right -25px, bottom -20px left -10px, top 650px left 30px, top 105px right 0px;
  background-repeat: no-repeat;
}

#welcome {/*Welcome header*/
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: Garamond;
  animation: 3s fadeIn;
}

#welcome-description { /*Welcome description*/
  text-align: center;
  padding-top: 10px;
  padding-bottom: 80px;
  margin-left: 70px;
  color: white;
  font-size: 23px;
  font-family: Garamond;
  animation: 3s fadeIn;
}

/*Ending of Landing Page*/

#search-programs-button { /*Search button on program search page */
  border-color: black;
  border-width: 2px;
  --bs-navbar-active-color: var(--matr-navbar-hightlight-text);
  --bs-btn-hover-bg: rgb(70, 198, 186);
  font-weight: bold;
  font-size: 18px;
}

footer, footer a {
  background-color: var(--matr-navbar-bg); /* Your chosen green color */
  color: var(--matr-navbar-text-color); /* White text */
}
