/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #085927; /* Your chosen green color */
  --matr-navbar-text-color: white; /* White color for text */
}

/* Change bootstrap variable values. */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: 8, 89, 39; /* Corrected RGB equivalent of your chosen green color */
}

/* Style the navbar and dropdown items */
.bg-dark, .bg-dark a, .bg-dark a.dropdown-item {
  background-color: var(--matr-navbar-bg) !important; /* Your chosen green color */
  color: var(--matr-navbar-text-color) !important; /* White text */
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  background-color: var(--matr-navbar-bg);
  color: var(--matr-navbar-text-color);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  background-color: var(--matr-navbar-bg); /* Your chosen green color */
  color: var(--matr-navbar-text-color); /* White text */
}
